<a href="/"><%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %></a>

<h1>About Us</h1>
<hr class ="style1">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4"><%= image_tag("aboutus.jpg",:class=>"img-responsive img-rounded", :alt => "GHL Recruitment") %>
      </div>
      <div class="col-md-8"><center><h3>Since our inception, GHL Recruitment has been totally focused on building a strategic, quality search practice.</h3><br><p class = "lead">GHL Recruitment, established in 1999, has developed a reputation for supplying excellent candidates for selection by client companies against tight deadlines and demanding role profiles. </p></center>
      </div>
      <!-- <div class="col-md-1">
      </div> -->
  </div>
  <br>
  <div class="row">
       <div class="col-md-4">
      </div>
      <div class="col-md-8">
      </div>
       <!-- <div class="col-md-1">
      </div> -->
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <center>
        <p>We take great pride in the reputation built around providing an outstanding level of service and consistent attention to detail. We are proud of our level of service and we endeavour to provide a cost effective human resource solution at all times.
        GHL Recruitment has been selected as a Preferred Supplier by a number of blue chip and indigenous companies. We are successfully competing with the high street recruiters in Dublin. </p>
        <br>
        <p>Our success is due to our professional service, personal approach and understanding the calibre of
        candidates that our clients require.</p>
        </center>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

