<a href="/"><%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %></a>

<h1>Contact Us</h1>
<hr class ="style1">

<div class="container-fluid">
  <div class="row">
    <br><br><br><br>
    <div class="col-md-6">
      <center><p class = "lead"><strong>Email:</strong><a href="mailto:info@ghl.ie"> info@ghl.ie</a><br></p>
      <p class = "lead"><strong>Follow Us:</strong><a href="https://www.linkedin.com/in/ghl-recruitment-2636b116?trk=nav_responsive_tab_profile"> Linked In</a><br></p>
      <p class = "lead"><strong>Call: </strong><a href="tel:(01) 6610911">(01) 6610911</a> </p></center>
    </div>
    <div class="col-md-6">
      <p class = "lead"><strong>Stop By: </strong><br> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.297033019867!2d-6.254328384350881!3d53.33793888304231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e977f2ea75b%3A0xc57f3d6b378a8bbf!2s13+Baggot+Street+Lower%2C+Dublin+Southside%2C+Dublin+2!5e0!3m2!1sen!2sie!4v1467127295287" width="500" height="430" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>




  </div>
</div>

