<center><h1>Contact Us</h1></center>


<div class="container-fluid">
  <div class="row">
    <br><br><br><br>
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <p class = "lead">Email:<a href="mailto:info@ghl.ie"> info@ghl.ie</a><br></p>
      <p class = "lead">Follow Us:<a href="https://www.linkedin.com/in/ghl-recruitment-2636b116?trk=nav_responsive_tab_profile"> Linked In</a><br></p>
      <p class = "lead">Call: <a href="tel:(01) 6610911">(01) 6610911</a> </p>
      <p class = "lead">Stop By: <br> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.297033019867!2d-6.254328384350881!3d53.33793888304231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e977f2ea75b%3A0xc57f3d6b378a8bbf!2s13+Baggot+Street+Lower%2C+Dublin+Southside%2C+Dublin+2!5e0!3m2!1sen!2sie!4v1467127295287" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
     

    
   
  </div>
</div>

