<a href="/"><%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %></a>

<h1>For Employers</h1>
<hr class ="style1">
<div class ="container-fluid">
<div class = "row">
<div class = "col-md-12">
<br><br><br>
  <center>
    <p class = "lead"><strong>GHL Recruitment specialises in recruiting for roles including the following areas:</strong></p>

      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
          <center>
            <ul class="list-group">
              <li class="list-group-item">Secretarial and Administration</li>
              <li class="list-group-item">Legal</li>
              <li class="list-group-item">Accounting and Finance</li>
              <li class="list-group-item">Sales and Marketing</li>
              <li class="list-group-item">HR </li>
              <li class="list-group-item">Temporary / Contract / Permanent Staff </li>
            </ul>
          </center>
        </div>
      </div>

  </center>
</div>
</div>
</div>
