
<div class="container">
  <div class="alert alert-warning" role="alert">
  <strong>Coronavirus (COVID-19)<br/></strong>
If you are currently working on a client site through GHL Recruitment or you are a candidate of ours and you have any queries regarding COVID-19, please email <a href="mailto:ursula@ghl.ie">ursula@ghl.ie</a> - the wellbeing of our contractors, candidates and clients is our top priority. 

If the organisation closes and you are not required to work, please contact your local Social Welfare Office - you may be entitled to payment from them. We are available to sign any Social Welfare Forms for you.
    If you have general queries regarding COVID-19 please visit <a href="https://www.hse.ie">https://www.hse.ie</a> for the latest information.  
  </div>
  <div class="row">
    <%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %>
 </div>

  <div class="row">
      <h2>We are a Boutique Recruitment Agency Who are both Client and Candidate focused.</h2>
      <hr>
      <h3>Our philosophy is to deliver a Client Focused Service.</h3>
      <ul>
        <li>Primarily People Driven.</li>
        <li>Understand our Client Needs.</li>
        <li>Assist in sourcing the best and most suitably qualified candidates.</li>
        <li>Deliver within Timelines expected.</li>
      </ul>
  </div>
</div>
