
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><br><br><br><%= image_tag("home_image.png",:class=>"img-responsive img-rounded", :alt=>"GHL Recruitment") %>
   </div>
    <div class="col-md-2"></div>
    
  </div>
</div>