<a href="/"><%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %></a>

<h1>Job Seekers</h1>
<hr class ="style1">
<div class="container-fluid">
  <div class="row">

      <div class="col-md-12">
      <center>
         <p class = "lead">Upload your CV so we can <br> see if you are suitable for any of our available roles. </p>
          <div class="col-md-4"></div>
           <div class="col-md-4"><a href="mailto:ursula@ghl.ie?subject=CV%20Upload%20From%20Website%20" class="btn btn-primary btn-block">Upload CV</a></div>
            <div class="col-md-4"></div>
      </center>
      </div>

  </div>
</div>

