<a href="/"><%= image_tag("ghl-logo.png",:class=>"img-responsive img-rounded header-image-ghl", :alt=>"GHL Recruitment") %></a>

<h1>Testimonials</h1>
<hr class ="style1">
<div class="col-md-12">
  <center>
     <p class = "lead">At GHL, our results speak for themselves. </p>
  </center>
</div>




