.header-image-ghl {
  margin: auto;
  width: 20vw;
}

h1 {
  color: #144569;
  text-align: center;
}

hr.style1 {
  border-top: 3px solid  #144569;
}

.container {
  .row {
    text-align: center;

    .header-image-ghl {
      margin: auto;
      width: 20vw;
    }

    h2 {
      color: #144569;
    }

    hr {
      margin: 50px 0;
    }

    h3 {
      padding: 10px;
      text-align: left;
      font-weight: 300;
      color: #144569;
    }

    ul {
      // list-style-type: none;

      li {
        text-align: left;
        color: #144569;
        font-size: 22px;
        margin-top: 13px;
        margin-bottom: 20px;
      }
    }
  }
}

footer {
  display: flex;
  padding: 50px;

  #left {
    justify-content: space-around;
    margin-right: auto;
  }

  #right {
    justify-content: space-around;
    margin-left: auto;
  }
}